APP_ENV=local
APP_DEBUG=true
APP_KEY=base64:93dqQ0peYY0amOlhfIe3MIHvuifcHhFOxLpy1mGefQw=
APP_URL=http://localhost

API_PREFIX=api

AUTH0_DOMAIN=logos.auth0.com
AUTH0_CLIENT_ID=bEt9JrlJoIs0bRSzvWMwtCAJkQGTggng
AUTH0_CLIENT_SECRET=bSk9pBkQz2FHyLNXSL5WVjT9QuHroPNTnuWgHKwuhbnzuqjbaUsddX5_Q14Acgnx
AUTH0_API_IDENTIFIER=api.schools
AUTH0_REDIRECT_URI=http://logos.auth0.com/auth0/callback
AUTH0_AUTHORIZED_ISSUERS=https://logos.auth0.com/

AUTH0_EMAIL_USER_TESTER=tester@logoseducacao.com.br
AUTH0_PASS_USER_TESTER=ga+6pH
AUTH0_TOKEN_USER_TESTER=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6Ik0wRkdOelEzUlVZd1JqTTNNREEzTVRRd04wTkZNakJHUkRNMVJEZ3pNa1kyTXpRNE5qTTROZyJ9.eyJpc3MiOiJodHRwczovL2xvZ29zLmF1dGgwLmNvbS8iLCJzdWIiOiJmYWNlYm9va3wxMTcxMDcxMDQ2MjgzMjE0IiwiYXVkIjpbImFwaS5zY2hvb2xzIiwiaHR0cHM6Ly9sb2dvcy5hdXRoMC5jb20vdXNlcmluZm8iXSwiYXpwIjoiWHhqSTFDVE5UR1lOOXRiQngweUptdE12dlRidDVoV1ciLCJleHAiOjE0OTQ1OTUyNjksImlhdCI6MTQ5NDU4ODA2OSwic2NvcGUiOiJvcGVuaWQgcHJvZmlsZSJ9.18bgZVaNPPHhQOrqeklFOOKqrS3UlLMQqCgP-AHO8Cf6m7HKZRLqUBqpG8HylOwI-oUqXbSscukZXRWSvDS6sYrXuy2U5a13-7Urx90Oej_0UvTC-uu-gpbJkxGBHBO-Z4oQahyj2c6eDlHbk5I6PmTELCY4-a0Xf_dYeiF-tt7UvMzmXu6xVj-3zROdrwCx5SurTvm6Dn3GXvfr-iixEk-LD4PClzHpr3281LGzIInKnHPrJkMFujOoIf-FaxSwBekLoNQg_-JWSazkEjHeUxTyt7RdqhDYCOnSzQah9HugnO9zyzVHaPJbYdCsnYPmoEZ_2zNmLtkogiequBDCJA

# \ para escapar caracteres especiais
AUTH0_USER_ID_ROLE_TEACHER_1=auth0\|58e39955afec3158a325b50a
AUTH0_USER_ID_ROLE_TEACHER_2=auth0\|58e39a47c1002318c626735f
AUTH0_USER_ID_ROLE_TEACHER_3=auth0\|58e39a5cc1002318c6267369
AUTH0_USER_ID_ROLE_TEACHER_4=auth0\|58e39a6eafec3158a325b534


DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=schools
DB_DATABASE_TESTING=test_schools
DB_USERNAME=root
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

APIARY_API_KEY=d66d73f6f23c6315ce65beee2769f143

JWT_LEEWAY=60