{
    "swagger": "2.0",
    "info": {
        "title": "Schools API",
        "version": "",
        "description": "Schools é uma api para manter informações sobre escolas e seus registros administrativos.\n\n\n# Autentificação\n\nA autentificação de usuário para acesso aos recursos da api, deve ser feita atribuindo\nsempre o seguinte cabeçario na requisição:\n\n`authorization: Bearer token_id`\n\nOnde \"token id\" é obtido durante a autenficação do usuário no microservice de atentificação\nauth0 através do dominio \"logos.auth0.com\".\nVeja ver mais detalhes de como realizar essa autentificação nesse link: https://auth0.com/docs\n\n\n\n# Parametros de filtros, ordenação e pesquisa\n\nCada parâmetro de consulta, exceto as funções pré-definidas _with, _sort, _q e _group_by é interpretado como um filtro.\n\nExemplo: Listar todas as escolas que começam com nome: Vieira.\n\n<pre><code>/api/schools?name-lk=Vieira*</code></pre>\n\nNo exemplo acima o parametro name recebe o nome vieira que e o nome da escola, é com prefixo -lk sendo este igual a like do sql.\n\nTodos os filtros podem ser combinados com um operador AND.\n\n<pre><code>/api/schools?name-lk=Vieira*&created_at-min=2016-12-01 12:55:02</code></pre>\n\nO exemplo acima resultaria na seguinte SQL:\n\n<pre><code>Where `schools` LIKE \"Vieira%\" AND `created_at` >= \"2016-12-01 12:55:02\"</code></pre>\n\nÉ também possível usar vários valores para um filtro.\nVários valores estão separados por barra vertical |.\nVários valores são combinados com OR a não ser quando há um -not como sufixo, então eles são combinados com AND.\nPor exemplo, todos os livros com o ID de 5 ou 6:\n\n<pre><code>/api/schools?id=5|6</code></pre>\n\nOu todas as escolas, exceto aqueles com ID 5 ou 6:\n\n<pre><code>/api/schools?id-not=5|6</code></pre>\n\nO mesmo pode ser conseguido usando o -in como sufixo:\n\n<pre><code>/api/schools?id-in=5,6</code></pre>\n\nRespectivamente, o not-insufixo:\n\n<pre><code>/api/schools?id-not-in=5,6</code></pre>\n\n| Suffix        | Operator  | Meaning                               |\n|:--------------|-----------|---------------------------------------|\n| `-lk`         | LIKE      | O mesmo que o operador LIKE do SQL    |\n| `-not-lk`     | NOT LIKE  | O mesmo que o operador NOT LIKE do SQL|\n| `-in`         | IN        | O mesmo que o operador IN do SQL      |\n| `-not-in`     | NOT IN    | O mesmo que o operador NOT IN do SQL  |\n| `-min`        | >=        | Maior ou igual a                      |\n| `-max`        | <=        | Menor ou igual a                      |\n| `-st`         | <         | Menor que                             |\n| `-gt`         | >         | Maior que                             |\n| `-not`        | !=        | Diferente                             |\n\n\n# Parametros paginação\n\nOs parametros de paginação são: _page e _per_page.\n\n`_page` Define o número de página da consulta que será obtido.\n`_per_page` Define a quantidade de resultados da consulta por página.\n\n<pre><code>GET /api/schools?_page=2&_per_page=50</code></pre>\n\nNeste exemplo o resultado será a segunda página da coleção de resultados da listagem de escolas,\ncom 50 escolas por página, tendo um total de 4 páginas e 156 resultados no total.\n\nVeja o exemplo:\n\n```\n{\n    \"total\": \"156\",\n    \"per_page\": \"50\",\n    \"current_page\": \"2\",\n    \"last_page\": \"4\",\n    \"next_page_url\": \"https://schools.logoseducacao.com.br/api/schools?_page=3\"\n    \"prev_page_url\": \"https://schools.logoseducacao.com.br/api/schools?_page=1\"\n    \"data\": [\n      {\n          \"id\": 1, \n          \"name\": \n          \"Name of school\", \n          \"type\": \"middle-school\"\n      },\n      ....\n}\n```\n\n# Parametros de transformação\n\nO prametro _group_by é utilizado para agrupar o conjunto de resultados da página atual da consulta por atributo.\n\nVeja o exemplo:\n\n<pre><code>GET /api/schools</code></pre>\n\nConsiderando que esse recurso retornaria o resultado\n\n\n```\n{ \n    \"total\": \"3\"\n    \"per_page\": \"15\",\n    \"current_page\": \"1\",\n    \"last_page\": \"1\",\n    \"next_page_url\": \"null\"\n    \"prev_page_url\": \"null\"\n    \"data\": [\n      {\n          \"id\": 1, \n          \"name\": \n          \"Name of school\", \n          \"type\": \"middle-school\"\n      },\n      {\n          \"id\": 1, \n          \"name\": \n          \"Name of school\", \n          \"type\": \"middle-school\"\n      },\n      {\n          \"id\": 1, \n          \"name\": \n          \"Name of school\", \n          \"type\": \"high-school\"\n      },\n    ]\n}\n```\n\n<pre><code>GET /api/schools</code></pre>\n\nUtilizando o parametro _group_id=type, teriamos:\n\n```\n{ \n    \"total\": \"3\"\n    \"per_page\": \"15\",\n    \"current_page\": \"1\",\n    \"last_page\": \"1\",\n    \"next_page_url\": \"null\"\n    \"prev_page_url\": \"null\"\n    \"data\": [\n       \"middle-school\": [\n          {\n              \"id\": 1, \n              \"name\": \n              \"Name of school\", \n              \"type\": \"middle-school\"\n          },\n          {\n              \"id\": 1, \n              \"name\": \n              \"Name of school\", \n              \"type\": \"middle-school\"\n          }\n       ],\n       \"high-school\": [\n          {\n              \"id\": 1, \n              \"name\": \n              \"Name of school\", \n              \"type\": \"high-school\"\n          }\n       ]\n    ]\n}\n```\n\n"
    },
    "host": "schools.logoseducacao.com.br",
    "basePath": "/api",
    "schemes": [
        "http"
    ],
    "paths": {
        "/school-calendars": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "total": 25,
                                "per_page": 15,
                                "current_page": 1,
                                "last_page": 2,
                                "next_page_url": "http://localhost/api/<resource>?page=2",
                                "prev_page_url": "null",
                                "from": 1,
                                "to": 15,
                                "data": [
                                    {
                                        "id": 1,
                                        "year": 2014,
                                        "start": "2016-02-01",
                                        "end": "2016-12-10",
                                        "average_formula": "( ({1º Bimestre} + {2º Bimestre})*0.4 + ({3º Bimestre} + {4º Bimestre})*0.6 )/2"
                                    }
                                ]
                            }
                        },
                        "schema": {
                            "$schema": "http://json-schema.org/draft-04/schema#",
                            "type": "object",
                            "properties": {
                                "total": {
                                    "type": "number",
                                    "description": "Total de resultados encontrados"
                                },
                                "per_page": {
                                    "type": "number",
                                    "description": "Quantidade de resultados por página"
                                },
                                "current_page": {
                                    "type": "number",
                                    "description": "Página atual"
                                },
                                "last_page": {
                                    "type": "number",
                                    "description": "Ultima página"
                                },
                                "next_page_url": {
                                    "type": [
                                        "string",
                                        "null"
                                    ],
                                    "description": "Url para resultados da proxima página"
                                },
                                "prev_page_url": {
                                    "type": [
                                        "string",
                                        "null"
                                    ],
                                    "description": "Url para resultados da página anterior"
                                },
                                "from": {
                                    "type": "number",
                                    "description": "Número inicial de resultados de paginação da página atual"
                                },
                                "to": {
                                    "type": "number",
                                    "description": "Número final de resultados de paginação da página atual"
                                },
                                "data": {
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Listar calendarios escolares",
                "description": "Nesta ação você pode usar varios filtros para listagem, veja nesta <a href=\"#header-parametros-de-filtros-em-listagem\">sessão</a> como definir os parametros da requisição.\n\n",
                "tags": [
                    "Calendários escolares"
                ],
                "parameters": [
                    {
                        "name": "_q",
                        "in": "body",
                        "description": "Pesquisa por palavra-chave, a correspondência e incluida conjunto de resultados.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "_sort",
                        "in": "body",
                        "description": "Ordena a coluna desejada, de forma acendente ou descendente.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "_with",
                        "in": "body",
                        "description": "Obtem informações do recurso relacionado.",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "schoolClasses",
                            "phases"
                        ]
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "post": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "school_calendar": {
                                    "id": 1,
                                    "year": 2014,
                                    "start": "2016-02-01",
                                    "end": "2016-12-10",
                                    "average_formula": "( ({1º Bimestre} + {2º Bimestre})*0.4 + ({3º Bimestre} + {4º Bimestre})*0.6 )/2"
                                }
                            }
                        },
                        "schema": {
                            "$schema": "http://json-schema.org/draft-04/schema#",
                            "type": "object",
                            "properties": {
                                "school_calendar": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "number",
                                            "description": "Identificador único do ano letivo."
                                        },
                                        "year": {
                                            "type": "number",
                                            "description": "Ano de referência"
                                        },
                                        "start": {
                                            "type": "string",
                                            "description": "Inicio do ano letivo"
                                        },
                                        "end": {
                                            "type": "string",
                                            "description": "Fim do ano letivo"
                                        },
                                        "average_formula": {
                                            "type": "string",
                                            "description": "`Fórmula utilizada para calcular médias do aluno no ano`"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "Criar calendário escolar",
                "description": "",
                "tags": [
                    "Calendários escolares"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$schema": "http://json-schema.org/draft-04/schema#",
                            "type": "object",
                            "properties": {
                                "year": {
                                    "type": "number",
                                    "description": "Ano de referência"
                                },
                                "start": {
                                    "type": "string",
                                    "description": "Inicio do ano letivo"
                                },
                                "end": {
                                    "type": "string",
                                    "description": "Fim do ano letivo"
                                },
                                "average_formula": {
                                    "type": "string",
                                    "description": "`Fórmula utilizada para calcular médias do aluno no ano`"
                                }
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/school-calendars/{school_calendar_id}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "school_calendar": {
                                    "id": 1,
                                    "year": 2014,
                                    "start": "2016-02-01",
                                    "end": "2016-12-10",
                                    "average_formula": "( ({1º Bimestre} + {2º Bimestre})*0.4 + ({3º Bimestre} + {4º Bimestre})*0.6 )/2"
                                }
                            }
                        },
                        "schema": {
                            "$schema": "http://json-schema.org/draft-04/schema#",
                            "type": "object",
                            "properties": {
                                "school_calendar": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "number",
                                            "description": "Identificador único do ano letivo."
                                        },
                                        "year": {
                                            "type": "number",
                                            "description": "Ano de referência"
                                        },
                                        "start": {
                                            "type": "string",
                                            "description": "Inicio do ano letivo"
                                        },
                                        "end": {
                                            "type": "string",
                                            "description": "Fim do ano letivo"
                                        },
                                        "average_formula": {
                                            "type": "string",
                                            "description": "`Fórmula utilizada para calcular médias do aluno no ano`"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "Detalhes do calendário escolar",
                "description": "",
                "tags": [
                    "Calendários escolares"
                ],
                "parameters": [
                    {
                        "name": "school_calendar_id",
                        "in": "path",
                        "description": "ID of the school class",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "_with",
                        "in": "body",
                        "description": "Obtem informações do recurso relacionado.",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "schoolClasses",
                            "phases"
                        ]
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "put": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "school_calendar": {
                                    "id": 1,
                                    "year": 2014,
                                    "start": "2016-02-01",
                                    "end": "2016-12-10",
                                    "average_formula": "( ({1º Bimestre} + {2º Bimestre})*0.4 + ({3º Bimestre} + {4º Bimestre})*0.6 )/2"
                                }
                            }
                        },
                        "schema": {
                            "$schema": "http://json-schema.org/draft-04/schema#",
                            "type": "object",
                            "properties": {
                                "school_calendar": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "number",
                                            "description": "Identificador único do ano letivo."
                                        },
                                        "year": {
                                            "type": "number",
                                            "description": "Ano de referência"
                                        },
                                        "start": {
                                            "type": "string",
                                            "description": "Inicio do ano letivo"
                                        },
                                        "end": {
                                            "type": "string",
                                            "description": "Fim do ano letivo"
                                        },
                                        "average_formula": {
                                            "type": "string",
                                            "description": "`Fórmula utilizada para calcular médias do aluno no ano`"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "Alterar calendário",
                "description": "",
                "tags": [
                    "Calendários escolares"
                ],
                "parameters": [
                    {
                        "name": "school_calendar_id",
                        "in": "path",
                        "description": "ID of the school class",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$schema": "http://json-schema.org/draft-04/schema#",
                            "type": "object",
                            "properties": {
                                "year": {
                                    "type": "number",
                                    "description": "Ano de referência"
                                },
                                "start": {
                                    "type": "string",
                                    "description": "Inicio do ano letivo"
                                },
                                "end": {
                                    "type": "string",
                                    "description": "Fim do ano letivo"
                                },
                                "average_formula": {
                                    "type": "string",
                                    "description": "`Fórmula utilizada para calcular médias do aluno no ano`"
                                }
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "delete": {
                "responses": {
                    "204": {
                        "description": "No Content",
                        "headers": {},
                        "examples": {}
                    }
                },
                "summary": "Excluir calendário",
                "description": "",
                "tags": [
                    "Calendários escolares"
                ],
                "parameters": [
                    {
                        "name": "school_calendar_id",
                        "in": "path",
                        "description": "ID of the School",
                        "required": true,
                        "type": "number"
                    }
                ]
            }
        },
        "/schools": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "total": 25,
                                "per_page": 15,
                                "current_page": 1,
                                "last_page": 2,
                                "next_page_url": "http://localhost/api/<resource>?page=2",
                                "prev_page_url": "null",
                                "from": 1,
                                "to": 15,
                                "data": [
                                    {
                                        "id": 1,
                                        "name": "Escola luz do saber",
                                        "contacts": []
                                    }
                                ]
                            }
                        },
                        "schema": {
                            "$schema": "http://json-schema.org/draft-04/schema#",
                            "type": "object",
                            "properties": {
                                "total": {
                                    "type": "number",
                                    "description": "Total de resultados encontrados"
                                },
                                "per_page": {
                                    "type": "number",
                                    "description": "Quantidade de resultados por página"
                                },
                                "current_page": {
                                    "type": "number",
                                    "description": "Página atual"
                                },
                                "last_page": {
                                    "type": "number",
                                    "description": "Ultima página"
                                },
                                "next_page_url": {
                                    "type": [
                                        "string",
                                        "null"
                                    ],
                                    "description": "Url para resultados da proxima página"
                                },
                                "prev_page_url": {
                                    "type": [
                                        "string",
                                        "null"
                                    ],
                                    "description": "Url para resultados da página anterior"
                                },
                                "from": {
                                    "type": "number",
                                    "description": "Número inicial de resultados de paginação da página atual"
                                },
                                "to": {
                                    "type": "number",
                                    "description": "Número final de resultados de paginação da página atual"
                                },
                                "data": {
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Listar escolas",
                "description": "Nesta ação você pode usar varios filtros para listagem, veja nesta <a href=\"#header-parametros-de-filtros-em-listagem\">sessão</a> como definir os parametros da requisição.\n\n",
                "tags": [
                    "Escolas e turmas"
                ],
                "parameters": [
                    {
                        "name": "_q",
                        "in": "body",
                        "description": "Pesquisa por palavra-chave, a correspondência e incluida conjunto de resultados.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "_sort",
                        "in": "body",
                        "description": "Ordena a coluna desejada, de forma acendente ou descendente.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "_with",
                        "in": "body",
                        "description": "Obtem informações do recurso relacionado.",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "schoolClasses"
                        ]
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "post": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "School": {
                                    "id": 1,
                                    "name": "Escola luz do saber",
                                    "contacts": []
                                }
                            }
                        },
                        "schema": {
                            "$schema": "http://json-schema.org/draft-04/schema#",
                            "type": "object",
                            "properties": {
                                "School": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "number",
                                            "description": "Identificador único da escola."
                                        },
                                        "name": {
                                            "type": "string",
                                            "description": "Nome da escola."
                                        },
                                        "contacts": {
                                            "description": "Json com informações de contatos da escola."
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "Criar escola",
                "description": "",
                "tags": [
                    "Escolas e turmas"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$schema": "http://json-schema.org/draft-04/schema#",
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "Nome da escola."
                                },
                                "contacts": {
                                    "description": "Json com informações de contatos da escola."
                                }
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/schools/{school_id}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "school": {
                                    "id": 1,
                                    "name": "Escola luz do saber",
                                    "contacts": []
                                }
                            }
                        },
                        "schema": {
                            "$schema": "http://json-schema.org/draft-04/schema#",
                            "type": "object",
                            "properties": {
                                "school": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "number",
                                            "description": "Identificador único da escola."
                                        },
                                        "name": {
                                            "type": "string",
                                            "description": "Nome da escola."
                                        },
                                        "contacts": {
                                            "description": "Json com informações de contatos da escola."
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "Detalhes da escola",
                "description": "",
                "tags": [
                    "Escolas e turmas"
                ],
                "parameters": [
                    {
                        "name": "school_id",
                        "in": "path",
                        "description": "Identificador único da escola",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "_with",
                        "in": "body",
                        "description": "Obtem informações do recurso relacionado.",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "schoolClasses"
                        ]
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "put": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "School": {
                                    "id": 1,
                                    "name": "Escola luz do saber",
                                    "contacts": []
                                }
                            }
                        },
                        "schema": {
                            "$schema": "http://json-schema.org/draft-04/schema#",
                            "type": "object",
                            "properties": {
                                "School": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "number",
                                            "description": "Identificador único da escola."
                                        },
                                        "name": {
                                            "type": "string",
                                            "description": "Nome da escola."
                                        },
                                        "contacts": {
                                            "description": "Json com informações de contatos da escola."
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "Alterar escola",
                "description": "",
                "tags": [
                    "Escolas e turmas"
                ],
                "parameters": [
                    {
                        "name": "school_id",
                        "in": "path",
                        "description": "Identificador único da escola",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$schema": "http://json-schema.org/draft-04/schema#",
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "Nome da escola."
                                },
                                "contacts": {
                                    "description": "Json com informações de contatos da escola."
                                }
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "delete": {
                "responses": {
                    "204": {
                        "description": "No Content",
                        "headers": {},
                        "examples": {}
                    }
                },
                "summary": "Excluir escola",
                "description": "",
                "tags": [
                    "Escolas e turmas"
                ],
                "parameters": [
                    {
                        "name": "school_id",
                        "in": "path",
                        "description": "Identificador único da escola",
                        "required": true,
                        "type": "number"
                    }
                ]
            }
        },
        "/school-classes": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "total": 25,
                                "per_page": 15,
                                "current_page": 1,
                                "last_page": 2,
                                "next_page_url": "http://localhost/api/<resource>?page=2",
                                "prev_page_url": "null",
                                "from": 1,
                                "to": 15,
                                "data": [
                                    {
                                        "id": 1,
                                        "identifier": "A",
                                        "grade_id": 1,
                                        "shift_id": 1,
                                        "school_calendar_id": 1,
                                        "school_id": 1,
                                        "evaluation_type": "grade_phase",
                                        "progress_sheet_id": 0
                                    }
                                ]
                            }
                        },
                        "schema": {
                            "$schema": "http://json-schema.org/draft-04/schema#",
                            "type": "object",
                            "properties": {
                                "total": {
                                    "type": "number",
                                    "description": "Total de resultados encontrados"
                                },
                                "per_page": {
                                    "type": "number",
                                    "description": "Quantidade de resultados por página"
                                },
                                "current_page": {
                                    "type": "number",
                                    "description": "Página atual"
                                },
                                "last_page": {
                                    "type": "number",
                                    "description": "Ultima página"
                                },
                                "next_page_url": {
                                    "type": [
                                        "string",
                                        "null"
                                    ],
                                    "description": "Url para resultados da proxima página"
                                },
                                "prev_page_url": {
                                    "type": [
                                        "string",
                                        "null"
                                    ],
                                    "description": "Url para resultados da página anterior"
                                },
                                "from": {
                                    "type": "number",
                                    "description": "Número inicial de resultados de paginação da página atual"
                                },
                                "to": {
                                    "type": "number",
                                    "description": "Número final de resultados de paginação da página atual"
                                },
                                "data": {
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Listar turmas",
                "description": "Nesta ação você pode usar varios filtros para listagem, veja nesta <a href=\"#header-parametros-de-filtros-em-listagem\">sessão</a> como definir os parametros da requisição.\n\n",
                "tags": [
                    "Escolas e turmas"
                ],
                "parameters": [
                    {
                        "name": "_q",
                        "in": "body",
                        "description": "Pesquisa por palavra-chave, a correspondência e incluida conjunto de resultados.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "_sort",
                        "in": "body",
                        "description": "Ordena a coluna desejada, de forma acendente ou descendente.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "_with",
                        "in": "body",
                        "description": "Obtem informações do recurso relacionado.",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "shift",
                            "students",
                            "schoolCalendar",
                            "subjects",
                            "progressSheet"
                        ]
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "post": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "school_class": {
                                    "id": 1,
                                    "identifier": "A",
                                    "grade_id": 1,
                                    "shift_id": 1,
                                    "school_calendar_id": 1,
                                    "school_id": 1,
                                    "evaluation_type": "grade_phase",
                                    "progress_sheet_id": 0
                                }
                            }
                        },
                        "schema": {
                            "$schema": "http://json-schema.org/draft-04/schema#",
                            "type": "object",
                            "properties": {
                                "school_class": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "number",
                                            "description": "Identificador único da turma."
                                        },
                                        "identifier": {
                                            "type": "string",
                                            "description": "Abreviação/identificação da turma. Exmplo: B, para segunda turma do 1º ano (de 1 Ano B)."
                                        },
                                        "grade_id": {
                                            "type": "number",
                                            "description": "ID do ano estudantíl."
                                        },
                                        "shift_id": {
                                            "type": "number",
                                            "description": "ID do turno."
                                        },
                                        "school_calendar_id": {
                                            "type": "number",
                                            "description": "ID do Ano letivo em que a turma existe."
                                        },
                                        "school_id": {
                                            "type": "number",
                                            "description": "ID da escola relacionada."
                                        },
                                        "evaluation_type": {
                                            "type": "string",
                                            "enum": [
                                                "grade_phase",
                                                "progress_sheet_phase"
                                            ],
                                            "description": "Definiçao do modo de avaliação da turma."
                                        },
                                        "progress_sheet_id": {
                                            "type": "number",
                                            "description": "ID da ficha descritiva utilizada para avaliar os alunos da turma."
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "Criar turma",
                "description": "",
                "tags": [
                    "Escolas e turmas"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$schema": "http://json-schema.org/draft-04/schema#",
                            "type": "object",
                            "properties": {
                                "identifier": {
                                    "type": "string",
                                    "description": "Abreviação/identificação da turma. Exmplo: B, para segunda turma do 1º ano (de 1 Ano B)."
                                },
                                "grade_id": {
                                    "type": "number",
                                    "description": "ID do ano estudantíl."
                                },
                                "shift_id": {
                                    "type": "number",
                                    "description": "ID do turno."
                                },
                                "school_calendar_id": {
                                    "type": "number",
                                    "description": "ID do Ano letivo em que a turma existe."
                                },
                                "school_id": {
                                    "type": "number",
                                    "description": "ID da escola relacionada."
                                },
                                "evaluation_type": {
                                    "type": "string",
                                    "enum": [
                                        "grade_phase",
                                        "progress_sheet_phase"
                                    ],
                                    "description": "Definiçao do modo de avaliação da turma."
                                },
                                "progress_sheet_id": {
                                    "type": "number",
                                    "description": "ID da ficha descritiva utilizada para avaliar os alunos da turma."
                                }
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/school-classes/{school_class_id}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "school_class": {
                                    "id": 1,
                                    "identifier": "A",
                                    "grade_id": 1,
                                    "shift_id": 1,
                                    "school_calendar_id": 1,
                                    "school_id": 1,
                                    "evaluation_type": "grade_phase",
                                    "progress_sheet_id": 0
                                }
                            }
                        },
                        "schema": {
                            "$schema": "http://json-schema.org/draft-04/schema#",
                            "type": "object",
                            "properties": {
                                "school_class": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "number",
                                            "description": "Identificador único da turma."
                                        },
                                        "identifier": {
                                            "type": "string",
                                            "description": "Abreviação/identificação da turma. Exmplo: B, para segunda turma do 1º ano (de 1 Ano B)."
                                        },
                                        "grade_id": {
                                            "type": "number",
                                            "description": "ID do ano estudantíl."
                                        },
                                        "shift_id": {
                                            "type": "number",
                                            "description": "ID do turno."
                                        },
                                        "school_calendar_id": {
                                            "type": "number",
                                            "description": "ID do Ano letivo em que a turma existe."
                                        },
                                        "school_id": {
                                            "type": "number",
                                            "description": "ID da escola relacionada."
                                        },
                                        "evaluation_type": {
                                            "type": "string",
                                            "enum": [
                                                "grade_phase",
                                                "progress_sheet_phase"
                                            ],
                                            "description": "Definiçao do modo de avaliação da turma."
                                        },
                                        "progress_sheet_id": {
                                            "type": "number",
                                            "description": "ID da ficha descritiva utilizada para avaliar os alunos da turma."
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "Detalhes da turma",
                "description": "",
                "tags": [
                    "Escolas e turmas"
                ],
                "parameters": [
                    {
                        "name": "school_class_id",
                        "in": "path",
                        "description": "ID of the school class",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "_with",
                        "in": "body",
                        "description": "Obtem informações do recurso relacionado.",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "shift",
                            "students",
                            "schoolCalendar",
                            "subjects",
                            "progressSheet",
                            "progressSheet.items"
                        ]
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "put": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "school_class": {
                                    "id": 1,
                                    "identifier": "A",
                                    "grade_id": 1,
                                    "shift_id": 1,
                                    "school_calendar_id": 1,
                                    "school_id": 1,
                                    "evaluation_type": "grade_phase",
                                    "progress_sheet_id": 0
                                }
                            }
                        },
                        "schema": {
                            "$schema": "http://json-schema.org/draft-04/schema#",
                            "type": "object",
                            "properties": {
                                "school_class": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "number",
                                            "description": "Identificador único da turma."
                                        },
                                        "identifier": {
                                            "type": "string",
                                            "description": "Abreviação/identificação da turma. Exmplo: B, para segunda turma do 1º ano (de 1 Ano B)."
                                        },
                                        "grade_id": {
                                            "type": "number",
                                            "description": "ID do ano estudantíl."
                                        },
                                        "shift_id": {
                                            "type": "number",
                                            "description": "ID do turno."
                                        },
                                        "school_calendar_id": {
                                            "type": "number",
                                            "description": "ID do Ano letivo em que a turma existe."
                                        },
                                        "school_id": {
                                            "type": "number",
                                            "description": "ID da escola relacionada."
                                        },
                                        "evaluation_type": {
                                            "type": "string",
                                            "enum": [
                                                "grade_phase",
                                                "progress_sheet_phase"
                                            ],
                                            "description": "Definiçao do modo de avaliação da turma."
                                        },
                                        "progress_sheet_id": {
                                            "type": "number",
                                            "description": "ID da ficha descritiva utilizada para avaliar os alunos da turma."
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "Alterar turma",
                "description": "",
                "tags": [
                    "Escolas e turmas"
                ],
                "parameters": [
                    {
                        "name": "school_class_id",
                        "in": "path",
                        "description": "ID of the school class",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "school_class_id",
                        "in": "path",
                        "description": "ID of the School",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$schema": "http://json-schema.org/draft-04/schema#",
                            "type": "object",
                            "properties": {
                                "identifier": {
                                    "type": "string",
                                    "description": "Abreviação/identificação da turma. Exmplo: B, para segunda turma do 1º ano (de 1 Ano B)."
                                },
                                "grade_id": {
                                    "type": "number",
                                    "description": "ID do ano estudantíl."
                                },
                                "shift_id": {
                                    "type": "number",
                                    "description": "ID do turno."
                                },
                                "school_calendar_id": {
                                    "type": "number",
                                    "description": "ID do Ano letivo em que a turma existe."
                                },
                                "school_id": {
                                    "type": "number",
                                    "description": "ID da escola relacionada."
                                },
                                "evaluation_type": {
                                    "type": "string",
                                    "enum": [
                                        "grade_phase",
                                        "progress_sheet_phase"
                                    ],
                                    "description": "Definiçao do modo de avaliação da turma."
                                },
                                "progress_sheet_id": {
                                    "type": "number",
                                    "description": "ID da ficha descritiva utilizada para avaliar os alunos da turma."
                                }
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "delete": {
                "responses": {
                    "204": {
                        "description": "No Content",
                        "headers": {},
                        "examples": {}
                    }
                },
                "summary": "Excluir turma",
                "description": "",
                "tags": [
                    "Escolas e turmas"
                ],
                "parameters": [
                    {
                        "name": "school_class_id",
                        "in": "path",
                        "description": "ID of the school class",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "school_class_id",
                        "in": "path",
                        "description": "ID of the School",
                        "required": true,
                        "type": "number"
                    }
                ]
            }
        },
        "/school-classes/{school_class_id}/annual-report-by/{subject_id}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "report_by_student": [
                                    {
                                        "student": {
                                            "id": 1,
                                            "person": {
                                                "id": 1,
                                                "name": "Caio Fernando Chaves",
                                                "age": 15,
                                                "birthday": "2001-04-21",
                                                "piture": "https://randomuser.me/api/portraits/lego/6.jpg",
                                                "gender": "male",
                                                "place_of_birth": "Santa Alenssandra",
                                                "more": "descricao",
                                                "phone": "(62) 8385-5421"
                                            }
                                        },
                                        "school_calendar_report": {
                                            "average": 9.2,
                                            "average_calculation": "((4.6 + 1.2)*0.4 + (9 + 3.1)*0.6)/2",
                                            "average_formula": "(({1º Bimestre}+...+ {4º Bimestre})*0.6)/2\"",
                                            "absences": 22
                                        },
                                        "phases_report": {
                                            "school_calendar_phase_id": 1,
                                            "average": 7.9,
                                            "average_calculation": "({8.3} + {7.4})/2",
                                            "average_formula": "({Nota 1} + {Nota 2})/2",
                                            "absences": 4,
                                            "student_grades": [
                                                {
                                                    "id": 1,
                                                    "grade": 8.3,
                                                    "assessment_id": 1
                                                },
                                                {
                                                    "id": 2,
                                                    "grade": 7.4,
                                                    "assessment_id": 2
                                                }
                                            ]
                                        }
                                    }
                                ],
                                "school_class_report": [
                                    {
                                        "school_calendar_report": {
                                            "average": 8.2
                                        },
                                        "phases_report": [
                                            {
                                                "school_calendar_phase_id": 1,
                                                "average": 7.7
                                            }
                                        ]
                                    }
                                ]
                            }
                        },
                        "schema": {
                            "$schema": "http://json-schema.org/draft-04/schema#",
                            "type": "object",
                            "properties": {
                                "report_by_student": {
                                    "type": "array"
                                },
                                "school_class_report": {
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Relatório anual por disciplina",
                "description": "",
                "tags": [
                    "Escolas e turmas"
                ],
                "parameters": [
                    {
                        "name": "_sort_students",
                        "in": "query",
                        "description": "Para ordenar os resultados de report_by_user",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "name",
                            "-name"
                        ]
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/lessons": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "total": 25,
                                "per_page": 15,
                                "current_page": 1,
                                "last_page": 2,
                                "next_page_url": "http://localhost/api/<resource>?page=2",
                                "prev_page_url": "null",
                                "from": 1,
                                "to": 15,
                                "data": [
                                    {
                                        "id": 1,
                                        "lesson_plan_id": "",
                                        "school_class_id": 1,
                                        "subject_id": 1,
                                        "start": "2016-08-30 13:17:11",
                                        "end": "2016-08-30 13:17:11",
                                        "teacher_id": 1
                                    }
                                ]
                            }
                        },
                        "schema": {
                            "$schema": "http://json-schema.org/draft-04/schema#",
                            "type": "object",
                            "properties": {
                                "total": {
                                    "type": "number",
                                    "description": "Total de resultados encontrados"
                                },
                                "per_page": {
                                    "type": "number",
                                    "description": "Quantidade de resultados por página"
                                },
                                "current_page": {
                                    "type": "number",
                                    "description": "Página atual"
                                },
                                "last_page": {
                                    "type": "number",
                                    "description": "Ultima página"
                                },
                                "next_page_url": {
                                    "type": [
                                        "string",
                                        "null"
                                    ],
                                    "description": "Url para resultados da proxima página"
                                },
                                "prev_page_url": {
                                    "type": [
                                        "string",
                                        "null"
                                    ],
                                    "description": "Url para resultados da página anterior"
                                },
                                "from": {
                                    "type": "number",
                                    "description": "Número inicial de resultados de paginação da página atual"
                                },
                                "to": {
                                    "type": "number",
                                    "description": "Número final de resultados de paginação da página atual"
                                },
                                "data": {
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Listar aulas",
                "description": "Nesta ação você pode usar varios filtros para listagem, veja nesta <a href=\"#header-parametros-de-filtros-em-listagem\">sessão</a> como definir os parametros da requisição.\n\n\n",
                "tags": [
                    "Aulas"
                ],
                "parameters": [
                    {
                        "name": "_q",
                        "in": "body",
                        "description": "Pesquisa por palavra-chave, a correspondência e incluida conjunto de resultados.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "_sort",
                        "in": "body",
                        "description": "Ordena a coluna desejada, de forma acendente ou descendente.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "_with",
                        "in": "body",
                        "description": "Obtem informações do recurso relacionado.",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "schoolClass",
                            "schoolClass.grade",
                            "schoolClass.shift",
                            "subject",
                            "lessonPlan"
                        ]
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "post": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "lesson": {
                                    "id": 1,
                                    "lesson_plan_id": "",
                                    "school_class_id": 1,
                                    "subject_id": 1,
                                    "start": "2016-08-30 13:17:11",
                                    "end": "2016-08-30 13:17:11",
                                    "teacher_id": 1
                                }
                            }
                        },
                        "schema": {
                            "$schema": "http://json-schema.org/draft-04/schema#",
                            "type": "object",
                            "properties": {
                                "lesson": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "number",
                                            "description": "`Identificador único  da aula.`"
                                        },
                                        "lesson_plan_id": {
                                            "type": "string",
                                            "description": "`Identificador do plano de aula.`"
                                        },
                                        "school_class_id": {
                                            "type": "number",
                                            "description": "`Identificador único da turma.`"
                                        },
                                        "subject_id": {
                                            "type": "number",
                                            "description": "`Identificador único da disciplina (Matématica, física, ...).`"
                                        },
                                        "start": {
                                            "type": "string",
                                            "description": "`Data e horário de inicio da aula.`"
                                        },
                                        "end": {
                                            "type": "string",
                                            "description": "`Data e horário de termino da aula.`"
                                        },
                                        "teacher_id": {
                                            "type": "number",
                                            "description": "`ID do professor.`"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "Criar aula",
                "description": "",
                "tags": [
                    "Aulas"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$schema": "http://json-schema.org/draft-04/schema#",
                            "type": "object",
                            "properties": {
                                "school_class_id": {
                                    "type": "number",
                                    "description": "`Identificador único da turma.`"
                                },
                                "subject_id": {
                                    "type": "number",
                                    "description": "`Identificador único da disciplina (Matématica, física, ...).`"
                                },
                                "start": {
                                    "type": "string",
                                    "description": "`Data e horário de inicio da aula.`"
                                },
                                "end": {
                                    "type": "string",
                                    "description": "`Data e horário de termino da aula.`"
                                },
                                "teacher_id": {
                                    "type": "number",
                                    "description": "`ID do professor.`"
                                }
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/lessons/{lesson_id}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "lesson": {
                                    "id": 1,
                                    "lesson_plan_id": "",
                                    "school_class_id": 1,
                                    "subject_id": 1,
                                    "start": "2016-08-30 13:17:11",
                                    "end": "2016-08-30 13:17:11",
                                    "teacher_id": 1,
                                    "students": [
                                        {
                                            "id": 1,
                                            "person_id": 1,
                                            "attendance_record": {
                                                "id": 1,
                                                "lesson_id": 1,
                                                "student_id": 1,
                                                "presence": 2,
                                                "absence_dismissal": "Ricardo apresentou atestado medico"
                                            },
                                            "last_occurences": [
                                                {
                                                    "id": 1,
                                                    "comment": "fulano fez isso",
                                                    "level_id": 1,
                                                    "about_person_id": 2
                                                }
                                            ],
                                            "absence_summary": {
                                                "percentage_absences_reprove": "25",
                                                "total_lessons_year": "200",
                                                "total_absences_year": "22"
                                            }
                                        }
                                    ]
                                }
                            }
                        },
                        "schema": {
                            "$schema": "http://json-schema.org/draft-04/schema#",
                            "type": "object",
                            "properties": {
                                "lesson": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "number",
                                            "description": "`Identificador único  da aula.`"
                                        },
                                        "lesson_plan_id": {
                                            "type": "string",
                                            "description": "`Identificador do plano de aula.`"
                                        },
                                        "school_class_id": {
                                            "type": "number",
                                            "description": "`Identificador único da turma.`"
                                        },
                                        "subject_id": {
                                            "type": "number",
                                            "description": "`Identificador único da disciplina (Matématica, física, ...).`"
                                        },
                                        "start": {
                                            "type": "string",
                                            "description": "`Data e horário de inicio da aula.`"
                                        },
                                        "end": {
                                            "type": "string",
                                            "description": "`Data e horário de termino da aula.`"
                                        },
                                        "teacher_id": {
                                            "type": "number",
                                            "description": "`ID do professor.`"
                                        },
                                        "students": {
                                            "type": "array"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "Detalhes da aula",
                "description": "",
                "tags": [
                    "Aulas"
                ],
                "parameters": [
                    {
                        "name": "lesson_id",
                        "in": "path",
                        "description": "ID of the lesson",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "_with",
                        "in": "body",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "attendanceRecords",
                            "schoolClass",
                            "schoolClass.grade",
                            "schoolClass.students",
                            "schoolClass.shift",
                            "schoolClass.students.responsibles",
                            "schoolClass.students.attendanceRecords",
                            "schoolClass.students.person",
                            "lessonPlan",
                            "teacher",
                            "teacher.person"
                        ]
                    },
                    {
                        "name": "attach",
                        "in": "body",
                        "description": "Anexa mais informações da aula na responsta.\nstudents.last_occurences são as ultimas 2 ocorrencias do aluno.\nstudents.attendanceRecord é o registro de chamada da aula para o aluno.\nstudents.absenceSummary é um resumo de faltas do aluno, durante o ano.\n",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "students",
                            "students.attendanceRecord",
                            "students.last_occurences",
                            "students.absenceSummary"
                        ]
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "put": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "lesson": {
                                    "id": 1,
                                    "lesson_plan_id": "",
                                    "school_class_id": 1,
                                    "subject_id": 1,
                                    "start": "2016-08-30 13:17:11",
                                    "end": "2016-08-30 13:17:11",
                                    "teacher_id": 1
                                }
                            }
                        },
                        "schema": {
                            "$schema": "http://json-schema.org/draft-04/schema#",
                            "type": "object",
                            "properties": {
                                "lesson": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "number",
                                            "description": "`Identificador único  da aula.`"
                                        },
                                        "lesson_plan_id": {
                                            "type": "string",
                                            "description": "`Identificador do plano de aula.`"
                                        },
                                        "school_class_id": {
                                            "type": "number",
                                            "description": "`Identificador único da turma.`"
                                        },
                                        "subject_id": {
                                            "type": "number",
                                            "description": "`Identificador único da disciplina (Matématica, física, ...).`"
                                        },
                                        "start": {
                                            "type": "string",
                                            "description": "`Data e horário de inicio da aula.`"
                                        },
                                        "end": {
                                            "type": "string",
                                            "description": "`Data e horário de termino da aula.`"
                                        },
                                        "teacher_id": {
                                            "type": "number",
                                            "description": "`ID do professor.`"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "Alterar aula",
                "description": "",
                "tags": [
                    "Aulas"
                ],
                "parameters": [
                    {
                        "name": "lesson_id",
                        "in": "path",
                        "description": "ID of the lesson",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$schema": "http://json-schema.org/draft-04/schema#",
                            "type": "object",
                            "properties": {
                                "school_class_id": {
                                    "type": "number",
                                    "description": "`Identificador único da turma.`"
                                },
                                "subject_id": {
                                    "type": "number",
                                    "description": "`Identificador único da disciplina (Matématica, física, ...).`"
                                },
                                "start": {
                                    "type": "string",
                                    "description": "`Data e horário de inicio da aula.`"
                                },
                                "end": {
                                    "type": "string",
                                    "description": "`Data e horário de termino da aula.`"
                                },
                                "teacher_id": {
                                    "type": "number",
                                    "description": "`ID do professor.`"
                                }
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "delete": {
                "responses": {
                    "204": {
                        "description": "No Content",
                        "headers": {},
                        "examples": {}
                    }
                },
                "summary": "Excluir aula",
                "description": "",
                "tags": [
                    "Aulas"
                ],
                "parameters": [
                    {
                        "name": "lesson_id",
                        "in": "path",
                        "description": "ID of the lesson",
                        "required": true,
                        "type": "number"
                    }
                ]
            }
        },
        "/lessons/per-day": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "start": "'2016",
                                "end": "'2016",
                                "data": [
                                    {
                                        "day": "2016-10-01",
                                        "lessons": [
                                            "user_id: auth0|58e39955afec3158a325b50a"
                                        ]
                                    }
                                ]
                            }
                        },
                        "schema": {
                            "$schema": "http://json-schema.org/draft-04/schema#",
                            "type": "object",
                            "properties": {
                                "start": {
                                    "type": "string",
                                    "description": "10-01' (string)"
                                },
                                "end": {
                                    "type": "string",
                                    "description": "10-15' (string)"
                                },
                                "data": {
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Listar aulas por dia",
                "description": "Nesta ação você pode usar varios filtros para listagem, veja nesta <a href=\"#header-parametros-de-filtros-em-listagem\">sessão</a> como definir os parametros da requisição.\n\n",
                "tags": [
                    "Aulas"
                ],
                "parameters": [
                    {
                        "name": "start",
                        "in": "body",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "default": "NOW()"
                    },
                    {
                        "name": "end",
                        "in": "body",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "default": "NOW() + 15 days"
                    },
                    {
                        "name": "_with",
                        "in": "body",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "schoolClass",
                            "schoolClass.grade",
                            "schoolClass.shift",
                            "schoolClass.students",
                            "schoolClass.students.studentResponsible",
                            "schoolClass.students.attendanceRecords",
                            "subject",
                            "teacher",
                            "teacher.person"
                        ]
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/lesson-plans": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "total": 25,
                                "per_page": 15,
                                "current_page": 1,
                                "last_page": 2,
                                "next_page_url": "http://localhost/api/<resource>?page=2",
                                "prev_page_url": "null",
                                "from": 1,
                                "to": 15,
                                "data": [
                                    {
                                        "id": 1,
                                        "lesson_plan_template_id": 1,
                                        "content": [
                                            {
                                                "name": "Objetivo",
                                                "type": "'text'",
                                                "required": true,
                                                "value": "'Resolver operações utilizando números decimais obedecendo regras.'"
                                            },
                                            {
                                                "name": "Conteúdo",
                                                "type": "'text'",
                                                "required": true,
                                                "value": "'Operações com números ordinais.'"
                                            },
                                            {
                                                "name": "Metodologia",
                                                "type": "'long",
                                                "required": true,
                                                "value": [
                                                    "'Lorem ipsum dolor sit amet",
                                                    "consectetur adipiscing elit.'"
                                                ]
                                            },
                                            {
                                                "name": "Material ditatico",
                                                "type": "'text'",
                                                "required": true,
                                                "value": [
                                                    "'Livro didático",
                                                    "Jogo de tabuleiro.'"
                                                ]
                                            }
                                        ]
                                    }
                                ]
                            }
                        },
                        "schema": {
                            "$schema": "http://json-schema.org/draft-04/schema#",
                            "type": "object",
                            "properties": {
                                "total": {
                                    "type": "number",
                                    "description": "Total de resultados encontrados"
                                },
                                "per_page": {
                                    "type": "number",
                                    "description": "Quantidade de resultados por página"
                                },
                                "current_page": {
                                    "type": "number",
                                    "description": "Página atual"
                                },
                                "last_page": {
                                    "type": "number",
                                    "description": "Ultima página"
                                },
                                "next_page_url": {
                                    "type": [
                                        "string",
                                        "null"
                                    ],
                                    "description": "Url para resultados da proxima página"
                                },
                                "prev_page_url": {
                                    "type": [
[...]
